<body>
<div class="coach-view container">
  <div class="animate_container make-flex">
    <div class="add_data_card col-sm-6">
      <div class="card data-card">
        <div class="card-body">
          <h4 class="card-title">Update/Add athlete data</h4>
          <p class="card-text"></p>
          <div class="btn btn-primary" id="view_data_form">Go somewhere</div>
        </div>
        <div class="form-container d-none">
          <form id="main-form" method="post" enctype="multipart/form-data" action="">
            <div class="form-group">
              <div class="input-headers color-orange font-weight-bold mb-3 mt-sm-5">Add Training Data</div>
              <div class="mb-4">
                <div class="student-analysis position-relative">
                  <select class="analysis-dropdown select-player">
                    <option label="Select Player"></option>
                    <option value="physical">Akhil</option>
                    <option value="mental">Suman</option>
                    <option value="nutrition">Harsh</option>
                  </select>
                  <i class="fa fa-caret-down position-absolute"></i>
                </div>
              </div>
              <div class="mb-4">
                <div class="student-analysis position-relative">
                  <select class="analysis-dropdown select-assessment coach_assessment_select_dropdown">
                    <option value="physical">Physical</option>
                    <option value="mental">Mental</option>
                    <option value="nutrition">Nutrition</option>
                  </select>
                  <i class="fa fa-caret-down position-absolute"></i>
                </div>
              </div>
              <div class="mb-4">
                <div class="student-analysis position-relative">
                  <label>Physical Scores</label>
                  <div class="make-flex score-input-parent">
                    <input type="number" class="form-control b-bottom required-field score-input" name="" fieldDisplayName="" id="" aria-describedby="" placeholder="Agility">
                    <input type="number" class="form-control b-bottom required-field score-input" name="" fieldDisplayName="" id="" aria-describedby="" placeholder="Balance">
                    <input type="number" class="form-control b-bottom required-field score-input" name="" fieldDisplayName="" id="" aria-describedby="" placeholder="Endurance">
                    <input type="number" class="form-control b-bottom required-field score-input" name="" fieldDisplayName="" id="" aria-describedby="" placeholder="Flexibility">
                    <input type="number" class="form-control b-bottom required-field score-input" name="" fieldDisplayName="" id="" aria-describedby="" placeholder="Speed">
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <div class="student-analysis position-relative">
                  <label>Mental Scores</label>
                  <div class="make-flex score-input-parent">
                    <input type="number" class="form-control b-bottom required-field score-input" name="" fieldDisplayName="" id="" aria-describedby="" placeholder="Attention Control">
                    <input type="number" class="form-control b-bottom required-field score-input" name="" fieldDisplayName="" id="" aria-describedby="" placeholder="Negative Energy Control">
                    <input type="number" class="form-control b-bottom required-field score-input" name="" fieldDisplayName="" id="" aria-describedby="" placeholder="Positive Energy Control">
                    <input type="number" class="form-control b-bottom required-field score-input" name="" fieldDisplayName="" id="" aria-describedby="" placeholder="Motivation Level">
                    <input type="number" class="form-control b-bottom required-field score-input" name="" fieldDisplayName="" id="" aria-describedby="" placeholder="Attitude Control">
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <div class="student-analysis position-relative">
                  <label>Nutrition Scores</label>
                  <div class="make-flex score-input-parent">
                    <input type="number" class="form-control b-bottom required-field score-input" name="" fieldDisplayName="" id="" aria-describedby="" placeholder="Calories">
                    <input type="number" class="form-control b-bottom required-field score-input" name="" fieldDisplayName="" id="" aria-describedby="" placeholder="Carbohydrates">
                    <input type="number" class="form-control b-bottom required-field score-input" name="" fieldDisplayName="" id="" aria-describedby="" placeholder="Protein">
                    <input type="number" class="form-control b-bottom required-field score-input" name="" fieldDisplayName="" id="" aria-describedby="" placeholder="Fibre">
                    <input type="number" class="form-control b-bottom required-field score-input" name="" fieldDisplayName="" id="" aria-describedby="" placeholder="Vitamins & Minerals">
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <div class="student-analysis position-relative">
                  <input type="date" class="form-control b-bottom required-field" name="" fieldDisplayName="" id="input-date" aria-describedby="Date" placeholder="Date">
                </div>
              </div>
              <div class="mb-4">
                <div class="student-analysis position-relative">
                  <input type="number" class="form-control b-bottom required-field" name="" fieldDisplayName="" id="input-score" aria-describedby="emailHelp" placeholder="Input Score">
                </div>
              </div>
            </div>
            <div class="text-center">
              <button class="mx-auto send-message-button cursor-pointer">SEND MESSAGE</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="view_data_card col-sm-6">
      <div class="card data-card">
        <div class="card-body">
          <h4 class="card-title">View athlete data</h4>
          <p class="card-text"></p>
          <div class="btn btn-primary" id="view_data_athlete">Go somewhere</div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>