<body>
<div class="coach-view container">
  <div class="animate_container make-flex">
    <div class="add_data_card col-sm-6">
      <div class="card data-card">
        <div class="card-body">
          <h4 class="card-title">Update/Add athlete data</h4>
          <p class="card-text"></p>
          <div class="btn btn-primary view_data_form">Go somewhere</div>
        </div>
        <div class="form-container d-none">
          <form id="main-form" method="post" action="<%= coach_submit_user_score_path %>">
            <div class="form-group">
              <!--<label class="input-headers color-orange mb-3 mt-2">Add Training Data</label>-->
              <div class="mb-4">
                <div class="student-analysis position-relative">
                  <label>Select Assessment Date</label>
                  <input type="date" class="form-control b-bottom required-field" name="assessment_date" fieldDisplayName="" id="input-date" aria-describedby="Date" placeholder="Date" required>
                </div>
              </div>
              <div class="mb-4">
                <div class="student-analysis position-relative">
                  <label class="d-block">Select Athlete</label>
                  <i class="fa fa-caret-down position-absolute"></i>
                  <select class="analysis-drop-down select-player coach_student_select_dropdown" name="user_id">
                    <% users.each {|user| %>
                        <option value="<%= user.id %>"><%= user.name.titleize%></option>
                    <% } %>
                  </select>
                </div>
              </div>
              <div class="mb-4">
                <div class="student-analysis position-relative">
                  <label class="d-block">Select Assessment Type</label>
                  <i class="fa fa-caret-down position-absolute"></i>
                  <select class="analysis-drop-down select-assessment coach_assessment_select_dropdown">
                    <option value="physical" selected>Physical</option>
                    <option value="mental">Mental</option>
                    <option value="nutrition">Nutrition</option>
                  </select>
                </div>
              </div>
              <div class="mb-4 physical_aspects_div">
                <div class="student-analysis position-relative">
                  <label>Scores</label>
                  <div class="make-flex score-input-parent">
                    <input type="number" class="form-control b-bottom required-field score-input" name="agility" fieldDisplayName="" id="" aria-describedby="" placeholder="Agility" required>
                    <input type="number" class="form-control b-bottom required-field score-input" name="balance" fieldDisplayName="" id="" aria-describedby="" placeholder="Balance" required>
                    <input type="number" class="form-control b-bottom required-field score-input" name="endurance" fieldDisplayName="" id="" aria-describedby="" placeholder="Endurance" required>
                    <input type="number" class="form-control b-bottom required-field score-input" name="flexibility" fieldDisplayName="" id="" aria-describedby="" placeholder="Flexibility" required>
                    <input type="number" class="form-control b-bottom required-field score-input" name="speed" fieldDisplayName="" id="" aria-describedby="" placeholder="Speed" required>
                  </div>
                </div>
              </div>
              <div class="mb-4 mental_aspects_div d-none">
                <div class="student-analysis position-relative">
                  <label>Scores</label>
                  <div class="make-flex score-input-parent">
                    <input type="number" class="form-control b-bottom required-field score-input" name="attention_control" fieldDisplayName="" id="" aria-describedby="" placeholder="Attention Control" required>
                    <input type="number" class="form-control b-bottom required-field score-input" name="negative_energy_control" fieldDisplayName="" id="" aria-describedby="" placeholder="Negative Energy Control" required>
                    <input type="number" class="form-control b-bottom required-field score-input" name="positive_energy_control" fieldDisplayName="" id="" aria-describedby="" placeholder="Positive Energy Control" required>
                    <input type="number" class="form-control b-bottom required-field score-input" name="motivation_level" fieldDisplayName="" id="" aria-describedby="" placeholder="Motivation Level" required>
                    <input type="number" class="form-control b-bottom required-field score-input" name="attitude_control" fieldDisplayName="" id="" aria-describedby="" placeholder="Attitude Control" required>
                  </div>
                </div>
              </div>
              <div class="mb-4 nutrition_aspects_div d-none">
                <div class="student-analysis position-relative">
                  <label>Scores</label>
                  <div class="make-flex score-input-parent">
                    <input type="number" class="form-control b-bottom required-field score-input" name="calories" fieldDisplayName="" id="" aria-describedby="" placeholder="Calories" required>
                    <input type="number" class="form-control b-bottom required-field score-input" name="carbohydrates" fieldDisplayName="" id="" aria-describedby="" placeholder="Carbohydrates" required>
                    <input type="number" class="form-control b-bottom required-field score-input" name="protein" fieldDisplayName="" id="" aria-describedby="" placeholder="Protein" required>
                    <input type="number" class="form-control b-bottom required-field score-input" name="fibre" fieldDisplayName="" id="" aria-describedby="" placeholder="Fibre" required>
                    <input type="number" class="form-control b-bottom required-field score-input" name="vitamins_and_minerals" fieldDisplayName="" id="" aria-describedby="" placeholder="Vitamins & Minerals" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center submit-button-container">
              <button type="submit" class="mx-auto send-message-button cursor-pointer user_data_submit_button">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="view_data_card col-sm-6">
      <div class="card data-card">
        <div class="card-body">
          <h4 class="card-title">View athlete data</h4>
          <p class="card-text"></p>
          <div class="btn btn-primary view_data_athlete">Go somewhere</div>
        </div>
        <div class="athlete-list-container d-none">
          <table>
            <tbody>
            <tr class="athlete-displayed athlete1">
              <td class="athlete-name">Nikhil Jha</td>
              <td class="athlete-img">
                <img src="/avatar1.png">
              </td>
            </tr>
            <tr class="athlete-displayed athlete2">
              <td class="athlete-name">Suman Saurabh</td>
              <td class="athlete-img">
                <img src="/avatar2.png">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>