/*.color-white{*/
  /*color: white;*/
/*}*/

/*.weekly-tabs{*/
  /*position: relative;*/
/*}*/

/*.weekly-tabs{*/
  /*height: 600px;*/
  /*width: 550px;*/
/*}*/

/*.weekly-tabs .day{*/
  /*height: 365px;*/
  /*width: 520px;*/
  /*position: absolute;*/
/*}*/

/*.weekly-tabs .day.monday{*/
  /*z-index: 6;*/
  /*background-color: red;*/
  /*bottom: 0px;*/
  /*left: 20px;*/
/*}*/
/*.weekly-tabs .day.tuesday{*/
  /*z-index: 5;*/
  /*background-color: green;*/
  /*bottom: 40px;*/
  /*left: 40px;*/
/*}*/

/*.weekly-tabs .day.wednesday{*/
  /*z-index: 4;*/
  /*background-color: blue;*/
  /*bottom: 80px;*/
  /*left: 60px;*/
/*}*/

/*.weekly-tabs .day.thursday{*/
  /*z-index: 3;*/
  /*background-color: yellow;*/
  /*bottom: 120px;*/
  /*left: 80px;*/
/*}*/

/*.weekly-tabs .day.friday{*/
  /*z-index: 2;*/
  /*background-color: purple;*/
  /*bottom: 160px;*/
  /*left: 100px;*/
/*}*/

/*.weekly-tabs .day.saturday{*/
  /*z-index: 1;*/
  /*background-color: orange;*/
  /*bottom: 200px;*/
  /*left: 120px;*/
/*}*/

/*.day-name{*/
  /*height: 38px;*/
  /*border-bottom: 1px solid black;*/
/*}*/

a{
  text-decoration: none;
  color: #797979;
}

a:hover{
  text-decoration: none;
  color: #797979;
}

.make-flex{
  display: flex;
}

.position-relative{
  position: relative;
}

.position-absolute{
  position: absolute;
}

.p-tb-20{
  padding-top: 15px;
  padding-bottom: 15px;
}

header .row{
  padding-top: 10px;
}

header .athlete-img img{
  border-radius: 50%;
}

.tab-heading-text{
  font-size: 20px;
  font-weight: bold;
  color: #797979;
}

.clr{
  clear: both;
}

.assessment-heading{
  font-size: 26px;
  color: #797979;
  margin-top: 40px;
  margin-bottom: 30px;
}

.assessment-heading::after{
  content: '';
  display: block;
  width: 120px;
  margin: 0 auto;
  height: 2px;
  background-color: #797979;
}

.graph-container{
  height: 569px;
  margin-top: 10px;
  border: 1px solid grey;
  position: relative;
}

#fitness_graph, #mental_graph, #nutrition_graph{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.comparison{
  width: 90%;
  margin: 0 auto;
}

.comparison-analysis{
  justify-content: space-around;
}

.comparison-graph-container{
  height: 569px;
  margin-top: 10px;
  border: 1px solid grey;
  width: 100%;
}

.events-container{
  margin-top: 10px;
  height: 569px;
}

.comparison_graph_div{
  position: relative;
  height: 569px;
}

#physical_comparison_graph, #tennis_comparison_graph{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tabs-container{
  margin-top: 10px;
  border: 1px solid grey;
}


.trend-analysis{
  justify-content: space-around;
}

.analysis-dropdown{
  -webkit-appearance: none;
  width: 113px;
  background-color: transparent;
  color: #95989A;
  padding-left: 8px;
  font-weight: 600;
  padding-top: 3px;
  padding-bottom: 3px;
}

.analysis-dropdown:focus{
  outline: 1px solid #222;
}

.analysis-dropdown ~ i{
  color: #95989A;
  position: absolute;
  right: 12px;
  top: 7px;
  z-index: -1;
}

.week-container{
  justify-content: space-around;
  color: #797979;
}

.trend-analysis .schedule,
.week-container .schedule,
.comparison-analysis .schedule,
.events .schedule{
  font-size: 22px;
  color: #797979;
  font-weight: 700;
}

.week-container .week{
  font-size: 20px;
  color: #797979;
  margin-right: 15px;
}

.week-container .week.week-active{
  color: #797979;
}

.week-container .lr-angle i{
  font-size: 27px;
}

.week-container .lr-angle i:hover{
  cursor: pointer;
  color: #222;
}

.tabs-container ul.nav-tabs li,
.events-container ul.nav-tabs li{
  padding: 0 12px;
}

.table-title{
  padding-top: 7px;
  /*padding-bottom: 15px;*/
  padding-bottom: 7px;
}

.tab-content{
  margin: 0 auto;
}

.athlete-drills{
  background-color: #F8F8F8;
  padding: 18px 12px 24px 12px;
}

.drills{
  height: 200px;
  width: 200px;
}

.drills > div{
  height: 180px;
  width: 180px;
  margin: 0 auto;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24);
}

.drill-title{
  /*border-bottom: 1px solid #ddd;*/
}

.drill-title .drill-name{
  margin-left: 14px;
  padding-top: 14px;
  font-weight: 600;
  color: #797979;
}

.drill-routine{
  color: #797979;
  -webkit-padding-start: 25px;
  margin-top: 10px;
}

.drill-routine li{
  padding: 0 5px;
  text-align: left;
  margin-top: 5px;
}

ul.nav.nav-justified{
  background-color: #323232;
}

.nav-tabs.nav-justified>li>a{
  font-weight: 600;
  color: #95989A;
}

.nav-tabs.nav-justified>li>a:hover{
  color: #F5F5F3;
}

.nav-tabs.nav-justified>li>a.active,
.nav-tabs.nav-justified>li>a.active:focus,
.nav-tabs.nav-justified>li>a.active:hover {
  font-size: 19px;
  color: white;
  font-weight: 700;
}

table{
  box-shadow: 0 1px 7px 0 rgba(0,0,0,0.24);
}

th{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 18px;
  color: #797979;
}

td{
  padding-top: 7px;
  padding-bottom: 7px;
}

td.drill-td{
  width: 60%;
}

td.drill-stat{
  text-align: left;
  padding-left: 10px;
  color: #797979;;
}

.events-container{
  border: 1px solid grey;
}

.dashboard-fixed-portlet{
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.24);
  justify-content: space-around;
  margin-bottom: 30px;
}

.dashboard-fixed-portlet img{
  height: 50px;
  width: 50px;
}

.dashboard-fixed-portlet .event-name-date,
.dashboard-fixed-portlet .event-venue{
  margin: 7px 0;
}

.dashboard-fixed-portlet .event-date{
  margin-left: 15px;
}

.dashboard-fixed-portlet .event-name{
  font-weight: 600;
  color: #797979;
}

.dashboard-fixed-portlet .event-venue{
  color: #797979;
}