@media screen and (max-width: 576px){
  .select-footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: #222;
    background-color: white;
    font-size: 14px;
    box-shadow: 0 -1px 6px 0 rgba(0,0,0,0.24);
    justify-content: space-evenly;
  }

  .select-footer img{
    height: 30px;
  }

  .select-footer .trend-analysis-select, .select-footer .schedule-select{
    border-radius: 3px;
    justify-content: space-around;
    /*background-color: #F5F5F3;*/
    padding: 3px;
  }

  .select-footer .trend-analysis-select span, .select-footer .schedule-select span{
    font-size: 13px;
  }

  .select-footer .trend-analysis-select span, .select-footer .trend-analysis-select i.fa{
    color: rgb(34, 34, 34);
  }

  .select-footer .schedule-select span, .select-footer .schedule-select i.fa{
    color: rgba(0, 0, 0, 0.54);
  }

  .select-footer .trend-analysis-select i, .select-footer .schedule-select i.fa{
    font-size: 20px !important;
  }

  .helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  header .app-name {
    padding-top: 1px;
    color: white;
    font-size: 18px;
    letter-spacing: 1.3px;
  }

  .graph-container {
    height: auto;
  }

  table{
    display: table!important;
  }

  td.drill-stat{
    width: 20%;
    text-align: left;
    padding-left: 10px;
    color: #797979;;
  }






  ul{
    -webkit-padding-start: 0;
  }

  ul li{
    list-style-type: none;
  }


  ul.week-days{
    background-color: #4d4d4d;
    display: flex;
    color: white;
  }

  .week-days{
    /*position: fixed;*/
    /*top: 130px;*/
    width: 100%;
  }

  .week-days li{
    padding-top: 12px;
    padding-bottom: 12px;
  }

  #nav-tabs .nav-overlay{
    width: 100%;
    background-color: #323232;
    bottom: 6px;
  }

  #nav-tabs .nav-overlay .overlay-indicator{
    background-color: white;
    height: 3px;
    left: 3px;
  }

  .mon a{
    font-weight: bold;
  }

  .tab-content{
    position: relative;
    overflow: hidden;
  }

  #tab-mon,#tab-tue,#tab-wed,#tab-thu,#tab-fri,#tab-sat{
    position: absolute;
    width: 100% ;
    /*transition: 0.5s linear;*/
  }

  #tab-mon{
    left: 0;
    top:15px;
  }
  #tab-tue,#tab-wed,#tab-thu,#tab-fri,#tab-sat{
    left: 100vw;
    top:15px;
  }
}