<body>
  <div class="login">
    <div class="content">
      <form class="login-form" action="<%= login_verify_path %>" method="POST">
        <h3 class="form-title">Sign In</h3>
        <div class="checkbox-container my-3">
          <label class="custom-control custom-radio">
            <input id="radio1" name="radio" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Athlete</span>
          </label>
          <label class="custom-control custom-radio">
            <input id="radio2" name="radio" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Coach</span>
          </label>
          <label class="custom-control custom-radio">
            <input id="radio3" name="radio" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Admin</span>
          </label>
        </div>
        <div class="alert alert-danger display-hide" id="alert-div" hidden="">
          <button class="close" data-close="alert"></button>
          <span id="alert-span">
			       This is for alert or any message</span>
        </div>
        <div class="form-group">
          <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
          <label class="control-label visible-ie8 visible-ie9">Email</label>
          <input class="form-control form-control-solid placeholder-no-fix required-field" type="email" autocomplete="off" placeholder="Email" name="email" data-name="_email" fielddisplayname="Email">
          <span class="error"></span>
        </div>
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9">Password</label>
          <input class="form-control form-control-solid placeholder-no-fix required-field" type="password" autocomplete="off" placeholder="Password" name="password" required="" fielddisplayname="Password">
        </div>
        <div class="form-actions">
          <button href="javascript:void(0)" class="btn btn-success uppercase" id="userloginButton">Login</button>
          <label class="rememberme check">
            <input type="checkbox" name="remember" checked="">Remember </label>
        </div>
        <input type="hidden" name="device" id="ams_device">
      </form>
    </div>
  </div>
</body>
<script>
  $(function () {
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
      $('#ams_device').val('mobile');
    } else {
      $('#ams_device').val('web');
    }
  });
</script>