<body>
<div class="main-container">
  <div class="container-fluid text-center">
    <!--<div class="assessment-heading text-center font-weight-bold">Physical Fitness</div>-->
    <div class="row mt-3">
      <div class="trend-analysis-container mx-auto" style="width: 95%;">
        <div class="trend-analysis make-flex mt-3 mb-4">
          <div class="schedule">Trend Analysis</div>
          <div class="trend-select position-relative">
            <select class="analysis-dropdown">
              <option value="">Physical</option>
              <option value="">Mental</option>
              <option value="">Nutrition</option>
            </select>
            <i class="fa fa-caret-down position-absolute"></i>
          </div>
        </div>
        <div class="graph-container">
          <div id="fitness_graph">

          </div>
        </div>
      </div>
      <div class="schedule-container d-none w-100">
        <div class="week-container make-flex mt-3 mb-4">
          <div class="schedule">Fitness Schedule</div>
          <div class="make-flex">
            <div class="week week-active">Week 1</div>
            <div class="lr-angle">
              <i class="fa fa-angle-left fa-2x mr-2" aria-hidden="true"></i>
              <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div>
          <div id="nav-tabs" class="position-relative">
            <ul class="week-days">
              <li class="mon col-2"><a class="active">Mon</a></li>
              <li class="tue col-2"><a>Tue</a></li>
              <li class="wed col-2"><a>Wed</a></li>
              <li class="thu col-2"><a>Thu</a></li>
              <li class="fri col-2"><a>Fri</a></li>
              <li class="sat col-2"><a>Sat</a></li>
            </ul>
            <div class="nav-overlay position-absolute">
              <div class="overlay-indicator position-absolute">

              </div>
            </div>
          </div>
          <div class="tab-content">
            <div id="tab-mon" class="today">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Monday</div>
                <div class="athlete-drills">
                  <table class="table-striped table-responsive" width="90%" align="center">
                    <thead>
                    <tr>
                      <th>Drill</th>
                      <th>Sets</th>
                      <th>Reps</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Push Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pullups.png">
                          <div class="drill-name">Pull Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Incline Pushups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-squats.png">
                          <div class="drill-name">Squats</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-running.png">
                          <div class="drill-name">Running</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-sit-ups.png">
                          <div class="drill-name">Crunches</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
            <div id="tab-tue" class="today">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Tuesday</div>
                <div class="athlete-drills">
                  <table class="table-striped table-responsive" width="90%" align="center">
                    <thead>
                    <tr>
                      <th>Drill</th>
                      <th>Sets</th>
                      <th>Reps</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Push Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pullups.png">
                          <div class="drill-name">Pull Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Incline Pushups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-squats.png">
                          <div class="drill-name">Squats</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-running.png">
                          <div class="drill-name">Running</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-sit-ups.png">
                          <div class="drill-name">Crunches</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div id="tab-wed" class="today">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Wednesday</div>
                <div class="athlete-drills">
                  <table class="table-striped table-responsive" width="90%" align="center">
                    <thead>
                    <tr>
                      <th>Drill</th>
                      <th>Sets</th>
                      <th>Reps</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Push Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pullups.png">
                          <div class="drill-name">Pull Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Incline Pushups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-squats.png">
                          <div class="drill-name">Squats</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-running.png">
                          <div class="drill-name">Running</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-sit-ups.png">
                          <div class="drill-name">Crunches</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div id="tab-thu" class="today">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Thursday</div>
                <div class="athlete-drills">
                  <table class="table-striped table-responsive" width="90%" align="center">
                    <thead>
                    <tr>
                      <th>Drill</th>
                      <th>Sets</th>
                      <th>Reps</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Push Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pullups.png">
                          <div class="drill-name">Pull Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Incline Pushups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-squats.png">
                          <div class="drill-name">Squats</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-running.png">
                          <div class="drill-name">Running</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-sit-ups.png">
                          <div class="drill-name">Crunches</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div id="tab-fri" class="today">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Friday</div>
                <div class="athlete-drills">
                  <table class="table-striped table-responsive" width="90%" align="center">
                    <thead>
                    <tr>
                      <th>Drill</th>
                      <th>Sets</th>
                      <th>Reps</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Push Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pullups.png">
                          <div class="drill-name">Pull Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Incline Pushups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-squats.png">
                          <div class="drill-name">Squats</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-running.png">
                          <div class="drill-name">Running</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-sit-ups.png">
                          <div class="drill-name">Crunches</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div id="tab-sat" class="today">
              <div class="panel-body">
                <div class="table-title tab-heading-text">Saturday</div>
                <div class="athlete-drills">
                  <table class="table-striped table-responsive" width="90%" align="center">
                    <thead>
                    <tr>
                      <th>Drill</th>
                      <th>Sets</th>
                      <th>Reps</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Push Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">max</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pullups.png">
                          <div class="drill-name">Pull Ups</div>
                        </div>
                      </td>
                      <td class="drill-stat">4</td>
                      <td class="drill-stat">8</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-pushups.png">
                          <div class="drill-name">Incline Pushups</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">8</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-squats.png">
                          <div class="drill-name">Squats</div>
                        </div>
                      </td>
                      <td class="drill-stat">6</td>
                      <td class="drill-stat">10</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-running.png">
                          <div class="drill-name">Running</div>
                        </div>
                      </td>
                      <td class="drill-stat">3</td>
                      <td class="drill-stat">100m</td>
                    </tr>
                    <tr>
                      <td class="drill-td">
                        <div class="drill-title make-flex">
                          <img src="/icons8-sit-ups.png">
                          <div class="drill-name">Crunches</div>
                        </div>
                      </td>
                      <td class="drill-stat">5</td>
                      <td class="drill-stat">22</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="select-footer make-flex">
  <div class="">
    <div class="trend-analysis-select text-center">
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <div><span>Trends</span></div>
    </div>
  </div>
  <div class="">
    <div class="schedule-select text-center">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <div><span>Schedule</span></div>
    </div>
  </div>
</div>
</body>
<script>
  Highcharts.chart('fitness_graph', {

    title: {
      text: ''
    },

    yAxis: {
      title: {
        text: 'Score'
      }
    },
    xAxis: {
      categories: ['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5', 'Week 6']
    },
    legend: {
      layout: 'horizontal'
    },

    series: [{
      name: 'Agility',
      data: [10, 15, 14, 18, 19, 17]
    }, {
      name: 'Balance',
      data: [11, 16, 17, 17, 18, 10]
    }, {
      name: 'Endurance',
      data: [9, 8, 14, 11, 15, 16]
    }, {
      name: 'Flexibility',
      data: [8, 9, 10, 10, 12, 15]
    }, {
      name: 'Speed',
      data: [8, 10, 11, 11, 14, 13]
    }],

  });
</script>