.position-relative{
  position: relative;
}

.position-absolute{
  position: absolute;
}



.coach-view.container{
  margin-top: 40px!important;
}

.analysis-drop-down {
  -webkit-appearance: none;
  width: 113px;
  background-color: transparent;
  color: #95989A;
  font-weight: 600;
  position: relative;
  z-index: 3;
  padding: .5rem .75rem;
}

.student-analysis .fa.fa-caret-down {
  color: #95989A;
  position: absolute;
  left: 92px;
  top: 38px;
  z-index: 1;
}

.score-input-parent{
  justify-content: space-around;
}

.score-input-parent .score-input{
  width: 120px;
}

.card{
  border: 1px solid rgba(0,0,0,.325);
}

.btn.view_data_athlete, .btn.view_data_form{
  background-color: #4d4d4d;
  border-color: #4d4d4d;
}

.btn.view_data_athlete:hover, .btn.view_data_form:hover{
  background-color: #222;
}

.form-container {
  width: 90%;
  margin: 0 auto;
}

input.form-control, select{
  font-size: 12px;
  border-radius: 0.25rem;
}

input[type='date']{
  width: 150px;
  color: #95989A;
}

button[type='submit']{
  background-color: #4d4d4d;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #4d4d4d;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
  opacity: 0.8;
  filter: alpha(opacity=80);
  font-weight: 600;
  color: #fff;
}

button[type='submit']:hover{
  background-color: #222;
}

.submit-button-container{
  margin-bottom: 30px;
}

.athlete-list-container{
  width: 90%;
  margin: 0 auto;
}

.athlete-img img{
  height: 50px;
  width: 50px;
}
