.position-relative{
  position: relative;
}

.position-absolute{
  position: absolute;
}



.coach-view.container{
  margin-top: 40px!important;
}

.analysis-drop-down {
  -webkit-appearance: none;
  width: 113px;
  background-color: transparent;
  color: #95989A;
  padding-left: 8px;
  font-weight: 600;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
  z-index: 3;
}

.student-analysis .fa.fa-caret-down {
  color: #95989A;
  position: absolute;
  left: 92px;
  top: 7px;
  z-index: 1;
}

.score-input-parent{
  justify-content: space-around;
}

.score-input-parent .score-input{
  width: 120px;
}

.card{
  border: 1px solid rgba(0,0,0,.325);
}

.btn.view_data_athlete, .btn.view_data_form{
  background-color: #4d4d4d;
  border-color: #4d4d4d;
}

.btn.view_data_athlete:hover, .btn.view_data_form:hover{
  background-color: #222;
}

.form-container {
  width: 90%;
  margin: 0 auto;
}