<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-9">
        <div class="app-name">Athlete Management System</div>
      </div>
      <div class="col-sm-6 d-none d-sm-block">
        <div class="row color-white text-right">
          <div class="col-sm-4">Tab 1</div>
          <div class="col-sm-4">Tab 2</div>
          <div class="col-sm-4">Tab 3</div>
        </div>
      </div>
      <div class="athlete-img col-sm-2 col-3 text-center">
        <img src="avatar.png" width="50" height="50">
      </div>
    </div>
  </div>
</header>