<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-8">
        <div class="app-name font-weight-bold">Athlete Management System</div>
      </div>
      <div class="col-sm-6 d-none">
        <div class="row color-white text-right">
          <div class="col-sm-4">Tab 1</div>
          <div class="col-sm-4">Tab 2</div>
          <div class="col-sm-4">Tab 3</div>
        </div>
      </div>
      <div class="athlete-img col-sm-4 col-4 text-center">
        <img id="sqp-logo" src="/sqp_no_gap_logo.png" width="70" height="50">
      </div>
    </div>
  </div>
</header>