<!DOCTYPE html>
<html>
<head>
  <%= render(:partial => 'layouts/head') %>
</head>

<body>

<%= render(:partial => 'layouts/header') %>
<%= yield %>
<%= render(:partial => 'layouts/footer') %>
</body>
</html>
